.main-Anagram {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content:normal;
    height: 100vh;
    margin-left: 300px;
    margin-top: 50px;
    width: 100%;
  }
  
  .input-Anagram {
    margin-bottom: 20px;
  }
  p{
    color: black;
    font-size: 40px;
    min-width: 500px;
    margin:30px;
  }
  .input-Anagram input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 300px;
    margin-top: 20px;
  }
  
  .input-Anagram button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin: 5px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .input-Anagram button:hover {
    background-color: #0056b3;
  }
  
  .textbox {
    margin-left: 200px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: 0px;
    min-height: 40px;
    font-weight: bold;
    width: 300px;
    height: 30px;
    border-radius: 4px;
    border-style: dashed;
    text-align: center;
  }
  